/////////////////////////
// Ignored Folders      /
/////////////////////////
bin/
gen/
obj/
ovr_mobile_sdk/
ovr_sdk_mobile/
.metadata/
.recommenders/

////////////////////////
// Ignored Extensions  /
////////////////////////
*.prefs
*.so

/////////////////////////
// Ignored Files        /
/////////////////////////
.DS_Store
lint.xml
oculussig_*
proguard-project.txt
SystemUtils.jar
VrApi.jar
VrAppFramework.jar

// Android Studio related
//TODO: move to categories above
.settings/
build/
local.properties
#workspace.xml
.idea/
.gradle/
*.iml
lib.jar
import-summary.txt

/GVRf/Framework/framework/src/main/jni/Android.mk
/GVRf/Framework/backend_*
!/GVRf/Framework/backend_oculus
