/////////////////////////
// Ignored Folders      /
/////////////////////////
bin/
gen/
obj/
ovr_mobile_sdk/
.metadata/
.recommenders/

////////////////////////
// Ignored Extensions  /
////////////////////////
*.prefs

/////////////////////////
// Ignored Files        /
/////////////////////////
lint.xml
oculussig_*
proguard-project.txt
