<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright (C) 2014 Samsung Electronics. All Rights Reserved. Source code
    is licensed under the Apache License, Version 2.0 (the "License"); you
    may not use this file except in compliance with the License. You may
    obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See
    the License for the specific language governing permissions and limitations
    under the License.

    IMPORTANT LICENSE NOTE: The IMAGES AND RESOURCES are licensed under the
    Creative Commons BY-NC-SA 3.0 License
    (http://creativecommons.org/licenses/by-nc-sa/3.0/). The source code
    is allows commercial re-use, but IMAGES and RESOURCES forbids it.
-->
<manifest
    package="com.samsung.mpl.gearinputprovider"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0.5">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK"/>
    <uses-permission android:name="com.samsung.wmanager.APP"/>
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service android:name="com.samsung.mpl.gearinputprovider.backend.InputProviderService">
            <intent-filter>
                <action
                    android:name="com.samsung.mpl.gearinputprovider.backend.InputProviderService"/>
            </intent-filter>
        </service>

        <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver">
            <intent-filter>
                <action android:name="android.accessory.service.action.ACCESSORY_SERVICE_CONNECTION_IND"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver">
            <intent-filter>
                <action android:name="android.accessory.device.action.REGISTER_AFTER_INSTALL"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.sdk.accessoryfiletransfer.SAFileTransferIncomingRequestReceiver">
            <intent-filter>
                <action android:name="com.samsung.accessory.ftconnection"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="AccessoryServicesLocation"
            android:value="/res/xml/accessoryservices.xml"/>
    </application>

</manifest>
